<br>
<br>
  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row">
    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">1</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">2</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">3</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">1</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">2</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">3</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>

    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">1</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">2</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="rounded float-left">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(7).jpg" style="width: 200px" 
              alt="Image of ballons flying over canyons with mask pattern one." class="rounded" class="col align-self-center">
            <div class="rounded mx-auto d-block">
              <h5 class="white-text" align="center">3</h5>
              <p class="white-text">.pattern-1.2</p>
            </div>
          </div>
    </div>
  </div>
