<h1>View Wiki</h1>

<button type="submit" class="btn btn-outline-success">
    <i class="fa fa-lock" aria-hidden="true"></i>
    <a routerLink="/add">เพิ่มข้อมูล</a>
  </button>
<table class='table'>
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of test010362 | async">
            <td>{{data.value.name}}</td>
            <td>{{data.value.description}}</td>
        </tr>
    </tbody>
</table>